@import "tailwindcss";

@layer components {
  .text-collection-set-code { @apply text-sm text-gray-800 truncate font-medium; }
  .text-collection-set-code-subtitle { @apply text-xs text-gray-500; }
}

